pillow
click
h5py
matplotlib
numpy<2.0.0
onnx~=1.16.0
https://github.com/scipy/scipy/releases/download/v1.15.2/scipy-1.15.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
tensorboard
tensorboardX
torchmetrics
mido
einops==0.6.1
librosa<0.10.0
lightning~=2.3.0
MonkeyType==23.3.0
onnxsim~=0.4.36
praat-parselmouth==0.4.3
protobuf
onnxruntime
torch==2.3.1
torchvision==0.18.1
torchaudio==2.3.1
PyYAML
tqdm
soundfile
librosa
pydub
